@font-face {
  font-family: "Arabic-Bold";
  src: url("./arabic/Al-Jazeera-Arabic-Bold.eot");
  src: url("./arabic/Al-Jazeera-Arabic-Bold.ttf") format("truetype"),
    url("./arabic/Al-Jazeera-Arabic-Bold.woff") format("woff");
}

@font-face {
  font-family: "Arabic-Regular";
  src: url("./arabic/Al-Jazeera-Arabic-Regular.eot");
  src: url("./arabic/Al-Jazeera-Arabic-Regular.ttf") format("truetype"),
    url("./arabic/Al-Jazeera-Arabic-Regular.woff") format("woff");
}
